/* header{
    display: flex;
    align-items: center;
} */
.menu{
    margin-left: 10%;
    margin-top: -83px;
}
h1{
    background-color:black;
    color:azure;
    width: 10%; 
    height: 70px;
    text-align: center;
    padding-top: 20px;
}
ul li{
    display: inline-block;
    padding: 0 15px; 
}

li a{
    text-decoration: none;
    font-style: oblique 50deg;
}
.menu2 td a{

    text-align: right;
    width: 20%; 
    text-decoration: none;

}